In [3]:
import pandas as pd


# Read the CSV file
df1 = pd.read_csv('umsatzdaten_gekuerzt.csv')
df2 = pd.read_csv('wetter.csv') 
df3 = pd.read_csv('kiwo.csv')

df = df1.merge(df2, on='Datum', how = 'left')
df = df.merge(df3, on='Datum', how = 'left')

In [11]:
df
df.dropna()

,Datum,Warengruppe,Umsatz,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,KielerWoche
347,2014-06-21,1,162.410673,6.0,15.5125,18.0,61.0,1.0
350,2014-06-24,1,119.068456,7.0,14.3625,7.0,21.0,1.0
352,2014-06-26,1,139.644834,6.0,17.5750,8.0,63.0,1.0
353,2014-06-27,1,149.199620,4.0,20.1625,7.0,95.0,1.0
354,2014-06-28,1,234.368963,6.0,16.9625,6.0,95.0,1.0
...,...,...,...,...,...,...,...,...
9000,2018-06-20,5,329.991266,3.0,23.6500,13.0,0.0,1.0
9001,2018-06-21,5,301.074413,7.0,11.5625,15.0,65.0,1.0
9002,2018-06-22,5,349.509583,5.0,15.5750,20.0,61.0,1.0
9003,2018-06-23,5,662.369321,7.0,14.3000,18.0,61.0,1.0
9004,2018-06-24,5,275.941582,6.0,16.2375,10.0,21.0,1.0